.chats_list {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0;
    padding: 72px 0 0;
}

.create_chat {
    color: #72612E;
    background-color: #F9D667;
    border-radius: 50%;
    padding: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    margin: 4px;
    box-shadow: 3px 6px 7px #BABABA;
    transition: box-shadow .5s;
}

.create_chat:hover {
    box-shadow: 6px 12px 14px #c0950a;
}

.create_chat:active {
    box-shadow: 3px 6px 7px #c0950a;
}

.link_chat {
    text-decoration: none;
}