form {
    align-self: center;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.form {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #D0C8D2;
    justify-content: space-between; 
}

.form_preview {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: min-content;
}

.preview {
    background-color:rgba(142, 36, 170, 0.6);
    border-radius: 6px;
    height: min-content;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.form_messages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text_field {
    padding: 4px 0;
    height: 100%;
    width: 90%;
    background-color: white;
    flex-grow: 100;
    align-items: center;

}

.form_geo {
    flex-grow: 1;
    margin: 0;
    height: 100%;
}

.geo_field, .attach_field, .micro_field {
    flex-grow: 1;
    padding: 4px 0;
    background-color: white;
    height: 100%;
    align-items: center;
}


.form-input {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 10;
    margin-left: 8px;
    margin-top: 14px;
    padding: 0;
}

::placeholder {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    opacity: 40%;
}

input[type=submit] {
    visibility: collapse;
}


input[type=text] {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}

.attach, .geo, .micro {
    background-color: white;
    flex-grow: 2;
    color: #999999;
    border-radius: 50%;
    border: none;
    padding: 6px;
    height: 40px;
    width: 40px;
    margin: calc(50% - 18px) 4px;
    align-self: center;
    transition: background-color .5s, color .5s;
}


.attach:hover, .geo:hover, .micro:hover {
    background-color: #d0cdcd;
    color: white;
}


.attach:active, .geo:active, .micro:active {
    background-color: #999999;
    color: white;
}

.stop_micro {
    flex-grow: 2;
    background-color: white;
    color: #8E24AA;
    border-radius: 50%;
    border: none;
    padding: 6px;
    height: 40px;
    width: 40px;
    margin: calc(50% - 18px) 4px;
    align-self: center;
    animation: pulse_mic 2s infinite;
}


@keyframes pulse_mic {
    0% {
        box-shadow: 0 0 0 0 rgb(221, 161, 238);
    }
    70% {
        box-shadow: 0 0 0 4px rgb(221, 161, 238);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(221, 161, 238);
    }
}


.downloaded_image {
    border-radius: 6px;
    height: 90px;
    width: 90px;
    margin: 4px;
    padding: 0;
}

.downloaded_audio {
    margin: 4px;
}

.img_field {
    margin: 4px;
    height: 90px;
    padding: 0;
}


.drag {
    height: 120px;
    border: dashed 4px rgba(142, 36, 170, 0.6);
}

.cancel {
    color: white;
    margin: 2px 4px;
    padding: 0;
}