.chats_list {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.menu .material-icons, .search_chat .material-icons {
    background-color: #8E24AA;
    color:white;
    border: none;
    border-radius: 50%;
    flex: 1 6 auto;
    padding: 6px;
    height: 40px;
    width: 40px;
    margin: 4px;
    transition: background-color .5s, color .5s;
}


.menu .material-icons:hover, .search_chat .material-icons:hover {
    background-color: #dda1ee;
    color: #8E24AA;
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 161, 238, .4);
        box-shadow: 0 0 0 0 rgba(221, 161, 238, .4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(221, 161, 238, 0);
        box-shadow: 0 0 0 10px rgba(221, 161, 238, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 161, 238, 0);
        box-shadow: 0 0 0 0 rgba(221, 161, 238, 0);
    }
}


.menu .material-icons:active, .search_chat .material-icons:active {
    animation: none;
    background-color: #F3E5F5;
    color: #8E24AA;
}

.app_name {
    font-size: 25px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    flex: 6 1 auto;
    margin-left: 20px;
}

.chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0;
    padding: 82px 0 0;
}

.chat {
    background-color: white;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 70px;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    transition: background-color .5s;
}


.chat:hover {
    background-color: #E6E6E6;
}

.chat:active {
    background-color: #F3E5F5;

}

.chat_photo {
    padding: 0 10px;
    margin: 0;
    flex: 1 6 auto;
}

.chat_info {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #E6E6E6;
    margin: 0;
    padding: 5px 0;
    justify-content: space-between;
    flex: 6 1 auto;
}

.chat_info_text {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex: 5 1 auto;
    justify-content: center;
    align-items: flex-end;
    padding: 0;

}

.chat_name, .last_message {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 100%;
    margin: 3px 0;
}

.chat_name {
    color: black;
    font-size: 20px;  
}

.last_message {
    color: #B3B3B3;
    font-size: 17px;
}

.time_and_status {
    flex: 1 6 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15px;
    padding-top: 8px;
    right: 0;
}

.message_time {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #B3B3B3;
}

.chat_status .material-icons {
    font-size: 20px; 
    font-weight: 400;
    color: #8E24AA;
    padding: 0;
    margin-top: 6px;
    height: 24px;
    width: 24px;
    padding: 2px;
}

.chat_status_unread, .chat_status_mentioned {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 6px;
    padding: 2px 6px;
    border-radius: 25px;
}

.chat_status_unread {
    background-color: #8E24AA;
    color: white;
}

.chat_status_mentioned {
    background-color: #F9D667;
    color: black;
}

.create_chat .material-icons {
    font-size: 28px;
    color: #72612E;
    background-color: #F9D667;
    border-radius: 50%;
    padding: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    margin: 4px;
    box-shadow: 3px 6px 7px #BABABA;
    transition: box-shadow .5s;
}

.create_chat .material-icons:hover {
    box-shadow: 6px 12px 14px #c0950a;
}

.create_chat .material-icons:active {
    box-shadow: 12px 17px 15px #c0950a;
}