html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.chat_content {
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chat_head {
    background-color: #8E24AA;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
}

.arrow_button .material-icons, .search .material-icons, .more_features .material-icons, .attach .material-icons {
    background-color: #8E24AA;
    color:white;
    border: none;
    flex-grow: 1;
    flex-shrink: 3;
    padding: 6px;
    height: 40px;
    width: 40px;
    margin: 4px;
    border-radius: 50%;
    transition: background-color 0.5s, color 0.5s;
}


.arrow_button .material-icons:hover, .search .material-icons:hover, .more_features .material-icons:hover {
    background-color: #dda1ee;
    color: #8E24AA;
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(221, 161, 238, .4);
      box-shadow: 0 0 0 0 rgba(221, 161, 238, .4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(221, 161, 238, 0);
        box-shadow: 0 0 0 10px rgba(221, 161, 238, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(221, 161, 238, 0);
        box-shadow: 0 0 0 0 rgba(221, 161, 238, 0);
    }
}


.arrow_button .material-icons:active, .search .material-icons:active, .more_features .material-icons:active {
    animation: none;
    background-color: #F3E5F5;
    color: #8E24AA;
}


.material-icons { 
    font-size: 28px;
}


.user_account {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: center;
}

.user_photo {
    flex: 1 40 auto;
    padding: 4px 10px 4px 20px;
}

img {
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
}

.user_info {
    height: 70%;
    display: flex;
    flex-direction: column;
    flex: 40 1 auto;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    padding: 0;
}

.user_name, .user_last_visit {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 2px;
}

.user_name {
    font-size: 25px;
    font-weight: 400;
}

.user_last_visit {
    font-size: 15px;
    font-weight: 100;
    opacity: 45%;
    margin-top: 2px;
}

.form {
    width: 100%;
    margin: 0;
    padding: 0;
}

.messages {
    background-color: #F8F8F8;
    height: min-content;
    width: 100%;
    border: none;
    padding: 82px 4px 62px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.my_message {
    background-color: #F3E5F5;
    align-self: flex-end;
    animation-name: slideright, pulse;
    animation-duration: 1.5s, 2s;
}

@keyframes slideright {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
        -moz-box-shadow: 0 0 0 0 rgba(221, 161, 238, 0);
    }
}

.my_message, .opponent_message {
    max-width: 75%;
    border: 2px solid #D0C8D2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2px;
    padding: 10px 10px 2px 10px;
    min-height: 60px;
    justify-content: space-between;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    width: max-content;
}
.opponent_message {
    background-color:white;
    align-self: flex-start;
    animation: slideleft 1s;
}

.content_of_message {
    width: 100%;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: black;
    margin: 2px 2px 4px 2px;
}

.time_of_message {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 4px;
}

.time_and_check {
    height: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 4px;
    align-items: center;
}

.message_check .material-icons { 
    font-size: 16px; 
    color: #8E24AA;
    padding-top: 3px;
}

.text_field {
    padding: 4px 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #D0C8D2;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

input[type=text] {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 10;
    margin-left: 8px;
}

::placeholder {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 20px;
    opacity: 40%;
}


input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}

.attach .material-icons {
    background-color: white;
    flex-grow: 2;
    color: #999999;
}


.attach .material-icons:hover {
    background-color: #d0cdcd;
    color: white;
}


.attach .material-icons:active {
    background-color: #999999;
    color: white;
}
